<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TODOS: Create</title>
    </head>
    <body>
        <header>

        </header>
        <main>
            {% block content %}
  <div>
    <h1>Create a new list</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Create</button>
    </form>
  </div>
{% endblock %}
        </main>
        <footer>

        </footer>
    </body>
</html>
