<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
    </head>
    <body>
        <header>

        </header>
        <main>
            {% block content %}
    <div>
        <h1>My Lists</h1>
        <p><a href="{% url 'todo_list_create' %}">Create a new list</a></p>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                </tr>
            </thead>
            <tbody>
                {% for todo_list in todo_lists %}
                    <tr>
                        <td><a href="{% url 'todo_list_detail' id=todo_list.id %}">{{ todo_list.name }}</a></td>
                        <td>{{ todo_list.task_set.count }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2">No lists found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
        </main>
        <footer>

        </footer>
    </body>
</html>
