<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TODOS: List Detail</title>
    </head>
    <body>
        <header>

        </header>
        <main>
            {% block content %}
    <div>
        <h1>{{ todo_list.name }}</h1>
        <p><a href="{% url 'todo_list_update' id=todo_list.id %}">Edit</a></p>
        <p><a href="{% url 'todo_list_delete' id=todo_list.id %}">Delete</a></p>
        <p><a href="{% url 'todo_item_create' %}">Create a new item</a></p>
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due date</th>
                    <th>Is Compeleted</th>
                </tr>
            </thead>
            <tbody>
                {% for task in todo_list.list.all %}
                    <tr>
                        <td>{{ task.task }}</td>
                        <td>{{ task.due_date }}</td>
                        <td>{{ task.is_completed }}</td>
                        <td><a href="{% url 'todo_item_update' id=task.id %}">Update item</a></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2">No tasks in this list</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
        </main>
        <footer>

        </footer>
    </body>
</html>
