<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TODOS: Create Item</title>
    </head>
    <body>
        <header>

        </header>
        {% block content %}
        <main>
          <div>
            <h1>Create a new item</h1>
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit">Create</button>
            </form>
          </div>
        </main>
      {% endblock %}
        <footer>

        </footer>
    </body>
</html>
